body {
    background-color: #222323;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
#blank-seating {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#container {
    display: block;
    position: absolute;
    align-items: center;
    justify-content: center;
    touch-action: none;
    z-index: 100;
}
.react-draggable {
    position: absolute;
}

.table-container:hover {
    cursor: pointer;
}

.table-content {
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
}

/**
    Controls
 */

#controls {
    position: fixed;
    top: 4px;
    left: 10px;
    z-index: 1000;
}

#controls button {
    display: inline-block;
}

.table-type-option {
    position: relative;
}

#table-config {
    display: inline-block;
}

#table-config .dropdown {
    display: inline-block;
}

.form-content {
    display: none;
}

#id {
    margin-left: 100px;
    background-color: #333333;
    color: gray;
    display: none;
}
